@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

#Header {
  width: 100%;
  background-color: "#1976d2";
  color: "#FFFEFE";
}

#Header-logo{
  font-family: 'Kanit', sans-serif;
  font-size: 20px;
}

#Header-icon{
margin-bottom: -2px;
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  #Header-logo  {
    font-size: 37px;
  }  
}